/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* Intestazione, logo e barra di navigazione */


/* Logo e link prezzi */

/* end Logo e link prezzi */


/* Area personale e supporto clienti */

/* end Area personale e supporto clienti */


/* Introduzione Dropbox e link scarica prova gratuita */

/* end Introduzione Dropbox e link scarica prova gratuita */


/* end Intestazione, logo e barra di navigazione */





/* Corpo principale pagina con spiegazione sito */


/* Piani tariffari */

/* end Piani tariffari */


/* Trova un partner */

/* end Trova un partner */


/* Operazioni */

/* end Operazioni */


/* Statistiche app */

/* end Statistiche app */


/* Aziende che consigliano l'app */

/* end Aziende che consigliano l'app */

/* Q&A */

/* Q&A */


/* end Corpo principale pagina con spiegazione sito */





/* Link utili */


/* Dropbox */

/* end Dropbox */


/* Prodotti */

/* end Prodotti */


/* Azienda */

/* end Azienda */


/* Supporto */

/* end Supporto */


/* Community */

/* end Community */


/* Seleziona lingua */

/* end Seleziona lingua */


/* end Link utili */