/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}


/* utilities */
.pulsante {
    background-color: #0061ff;
    border: none;
    padding: 10px;
}

.pulsante a {
    color: white;
}



/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* Intestazione, logo e barra navigazione */
.dropbox-info {
    position: fixed;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 100;
}


/* Logo e link prezzi */
.logo-prezzi img {
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

li {
    padding: 0px 10px;
}

a {
    color: black;
    text-decoration: none;
}

i {
    padding-right: 5px;
}

/* end Logo e link prezzi */


/* Introduzione Dropbox */
.introduzione {
    padding-top: 150px;
    margin-bottom: 80px;
    background-color: #b4d0e7;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#arrow,
#slogan {
    font-size: 4rem;
}

#proposta {
    width: 100%;
    position: relative;
    top: 80px;
}

.prova-gratuita div {
    margin-bottom: 20px;
}

.w-30 {
    width: 30%;
    padding-top: 80px;
}

.w-70 {
    width: 70%;
}


/* end Introduzione Dropbox */


/* end Intestazione, logo e barra navigazione */



/* Corpo principale pagina con spiegazione sito */
main {
    max-width: 800px;
    margin: 0 auto;
    height: 800px;
}

/* Piani tariffari */
.main-container h2 {
    font-size: 2rem;
    margin: 50px 0;
    padding-top: 20px;
}

.selezione-fatturazione label {
    margin-right: 50px;
}

.piani-tariffari {
    margin-top: 50px;
}

.piano-professional,
.piano-advanced,
.piano-enterprise {
    width: calc(100% / 3 - 10px);
    border: 1px solid rgb(127, 125, 125);
    padding: 10px 20px;
}

.tipo-abbonamento {
    text-align: center;
    padding: 10px 0px;
}

.prezzo-abbonamento {
    margin: 30px 0px 100px;
}

.prezzo-abbonamento-team-enterprise h3,
.prezzo-abbonamento .pulsante,
.prezzo-abbonamento h3 {
    margin-bottom: 20px;
}

.prova-gratuita,
.prezzo-abbonamento h4,
.caratt-piano {
    margin: 30px 0px;
}

.punti-salienti p,
.caratt-piano p {
    padding: 10px 0px;
}

.piano-enterprise-team {
    width: 100%;
    border: 1px solid rgb(127, 125, 125);
    padding: 10px 20px;
    margin-top: 15px;
}

.prezzo-abbonamento-team-enterprise {
    margin: 30px 0px;
}

.ufficio-vendite {
    margin: 30px 0px 20px;
}

/* end Piani tariffari */

/* Trova un partner */
.partner {
    margin: 150px 0px;
}

.img-partner img {
    width: 100%;
    padding-right: 20px;
}

.testo-partner p,
.testo-partner h3 {
    margin: 15px 0px;
}

.testo-partner .pulsante {
    background-color: white;
    border: 1px solid black;
}

.testo-partner a {
    color: black;
}

/* end Trova un partner */

/* Operazioni */
.strumento-6,
.strumento-5,
.strumento-4,
.strumento-3,
.strumento-2,
.strumento-1 {
    width: calc(100% / 3 - 20px);
    padding: 0px 10px;
    margin: 50px 0px;
}

.strumento-6 img,
.strumento-5 img,
.strumento-4 img,
.strumento-3 img,
.strumento-2 img,
.strumento-1 img {
    width: 100%;
}

.strumento-6 h3,
.strumento-5 h3,
.strumento-4 h3,
.strumento-3 h3,
.strumento-2 h3,
.strumento-1 h3 {
    margin: 20px 0px 30px;
}

.strumento-6 p,
.strumento-5 p,
.strumento-4 p,
.strumento-3 h3,
.strumento-2 p,
.strumento-1 p {
    font-size: .9rem;
}


/* end Operazioni */

/* Statistiche app */
#team-user {
    font-size: 2rem;
    margin: 150px 0px 50px;
    width: 70%;
}

/* end Statistiche app */

/* end Corpo principale pagina con spiegazione sito */