/* debug */
.debug .logo-clienti {
    background-color: violet;
    color: white;
    height: 100px;
}

.debug .introduzione {
    background-color: #b4d0e7;
    color: white;
    height: 500px;
    margin-top: 100px;
}

.debug .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: red;
}

.debug .box-colorati {
    background-color: #081753;
    height: 300px;
    width: 400px;
    display: inline-block;
}

.debug .paragrafo {
    background-color: rgb(209, 84, 1);
    height: 300px;
    width: 400px;
}

main section {
    max-width: 600px;
    margin: 0 auto;
}

.debug .container-main {
    background-color: red;
}

.debug .professional {
    background-color: yellow;
    height: 500px;
    width: calc(600px / 3 - 10px);
    margin-right: 20px;
}

.debug .advanced {
    background-color: green;
    height: 500px;
    width: calc(600px / 3 - 10px);
    margin-right: 20px;
}

.debug .enterprise {
    background-color: orange;
    height: 500px;
    width: calc(600px / 3);
}

.debug .enterprise-1 {
    background-color: pink;
    height: 200px;
    width: 600px;
}













/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: white;
}


/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.row {
    flex-direction: row;
}

.flex-end {
    justify-content: flex-end;
}


/* utilities */
.pulsante {
    background-color: #0061ff;
    border: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}


/* Intestazione, logo e barra di navigazione */

.logo-clienti {
    position: fixed;
    top: 0px;
    width: 100%;
}

.introduzione {
    padding-top: 100px;
    margin-bottom: 150px;
}

h1 {
    font-size: 2rem;
    padding: 40px 0px;
}




/* end Intestazione, logo e barra di navigazione */





/* Corpo principale pagina con spiegazione sito */
.soluzioni-standard {
    margin-bottom: 20px;
}




/* end Corpo principale pagina con spiegazione sito */





/* Link utili */


/* Dropbox */

/* end Dropbox */


/* Prodotti */

/* end Prodotti */


/* Azienda */

/* end Azienda */


/* Supporto */

/* end Supporto */


/* Community */

/* end Community */


/* Seleziona lingua */

/* end Seleziona Lingua */


/* end Link utili */